<template>
  <div class="lg:px-12 md:px-10 sm:px-6 px-3 py-5">
    <div
    v-if="filteredRows.length > 0"
      class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div
      
        v-for="(row, index) in filteredRows"
        :key="'item' + row.id"
        @click="toggleCheckbox(row.id)"
        class="p-4 rounded bg-white mb-2 cursor-pointer"
      >
        <div class="flex items-center justify-between mb-4">
          <input
            type="checkbox"
            :checked="isChecked(row.id)"
            class="w-4 h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
          />
          <div class="flex items-center">
            <img :src="userImg" alt="" class="me-4" />
            <div class="text-left">
              <h4 class="bold text-sm">{{ row.name }}</h4>
              <span class="text-gray-400 text-sm">#876123</span>
            </div>
          </div>

          <div @click.stop="isChecked(row.id)" class="w-1/5 relative">
            <button
              @click="toggleDropdown(index)"
              class="inline-flex items-center text-center focus:ring-4 focus:outline-none focus:ring-transparent"
              type="button"
            >
              <svg
                class="w-[14px] h-[14px] text-gray-400 ms-10"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 16 3"
              >
                <path
                  d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
                />
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              @mouseleave="row.showDropdown = !row.showDropdown"
              v-if="row.showDropdown"
              class="z-10 absolute right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-36"
            >
              <ul
                class="p-2 ul-drop"
                aria-labelledby="dropdownMenuIconHorizontalButton"
              >
                <li>
                  <a
                    href="#"
                    class="flex items-center text-xs text-green-400 bold rounded-md py-2 px-3 bg-green-50 hover:bg-green-100 mb-1"
                    ><svg
                      class="w-[8px] h-[8px] text-green-400 mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 18"
                    >
                      <path
                        d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"
                      />
                      <path
                        d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"
                      />
                    </svg>
                    Edit</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="flex items-center text-xs text-red-600 bold rounded-md py-2 px-3 bg-red-50 hover:bg-red-100 mb-1"
                  >
                    <svg
                      class="w-[8px] h-[8px] text-red-600 mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 18 20"
                    >
                      <path
                        d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"
                      />
                    </svg>
                    Delete</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="flex items-center text-xs text-purple-600 bold rounded-md py-2 px-3 bg-purple-50 hover:bg-purple-100 mb-1"
                    ><svg
                      class="w-[8px] h-[8px] text-purple-600 mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 18 20"
                    >
                      <path
                        d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"
                      />
                      <path
                        d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"
                      /></svg
                    >Convert to client</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="flex items-center text-xs text-orange-500 bold rounded-md py-2 px-3 bg-orange-50 hover:bg-orange-100 mb-1"
                  >
                    <svg
                      class="w-[8px] h-[8px] text-orange-500 mr-1"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 19 18"
                    >
                      <path
                        d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
                      />
                    </svg>
                    View contacts</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full default-bg flex items-center justify-center w-4 h-4 mr-3"
            >
              <svg
                class="w-[10px] h-[10px] text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 14 20"
              >
                <path
                  d="M12 0H2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM7.5 17.5h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2ZM12 13H2V4h10v9Z"
                />
              </svg>
            </div>
            <p class="text-sm bold">Phone Number:</p>
          </div>
          <p class="text-sm text-gray-400">{{ row.phone }}</p>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full bg-indigo-500 flex items-center justify-center w-4 h-4 mr-3"
            >
              <img :src="genderImg" alt="" />
            </div>
            <p class="text-sm bold">Gender:</p>
          </div>

          <div
            class="flex items-center justify-center rounded-full h-6 w-14 bg-sky-100"
          >
            <p class="text-xs text-sky-500">Male</p>
          </div>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full bg-purple-500 flex items-center justify-center w-4 h-4 mr-3"
            >
              <svg
                class="w-[8px] h-[8px] text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                />
              </svg>
            </div>
            <p class="text-sm bold">Created date</p>
          </div>
          <p class="text-xs text-gray-400">3 Month</p>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full bg-purple-500 flex items-center justify-center w-4 h-4 mr-3"
            >
              <svg
                class="w-[8px] h-[8px] text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                />
              </svg>
            </div>
            <p class="text-sm bold">Next contact date:</p>
          </div>
          <p class="text-xs bold text-black">17 Aug</p>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full bg-orange-500 flex items-center justify-center w-4 h-4 mr-3"
            >
              <img :src="typeImg" alt="" />
            </div>
            <p class="text-sm bold">Leed type:</p>
          </div>
          <p class="text-xs bold text-orange-400">Supervisor</p>
        </div>
        <div class="flex items-center justify-between w-full mb-2">
          <div class="flex items-center">
            <div
              class="rounded-full bg-yellow-400 flex items-center justify-center w-4 h-4 mr-3"
            >
              <img :src="referdImg" alt="" />
            </div>
            <p class="text-sm bold">Refered by:</p>
          </div>
          <div
            class="flex items-center justify-center rounded-full h-8 w-20 bg-yellow-50"
          >
            <p class="text-xs text-yellow-400">Website</p>
          </div>
        </div>

        <div>
          <a
            href="."
            class="text-teal-400 bold text-sm leading-5 rounded-full bg-teal-50 flex items-center justify-center py-1 mt-4"
            >View <br />Leeder</a
          >
        </div>
      </div>
    </div>
    <p v-else class="bold py-10 text-black">
      Sorry, there is no data that matches your search.
    </p>
  </div>
</template>

<script>
import userImg from "../assets/img/user.png";
import genderImg from "../assets/img/gender.svg";
import typeImg from "../assets/img/type.svg";
import referdImg from "../assets/img/referd.svg";
import axios from "axios";
export default {
  components: {},
  data: function () {
    return {
      userImg,
      genderImg,
      typeImg,
      referdImg,
      rows: [],
    };
  },
  props: {
    searchQuery: {
      type: String,
      default: '',
    },
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    toggleDropdown(index) {
      this.rows[index].showDropdown = !this.rows[index].showDropdown;
    },

    toggleCheckbox(checkboxId) {
      const checkboxItem = this.rows.find((row) => row.id === checkboxId);
      checkboxItem.checked = !checkboxItem.checked;
    },
    isChecked(checkboxId) {
      const checkboxItem = this.rows.find((row) => row.id === checkboxId);
      return checkboxItem.checked;
    },
    fetchData(query = '') {
      axios.get('https://jsonplaceholder.typicode.com/users', { params: { query } })
        .then(response => {
          this.rows = response.data;
        })
        .catch(error => {
          console.error(error);
        })
    },
  },
  computed: {
    filteredRows() {
      return this.rows.filter((row) =>
        row.name.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },
  },
};
</script>

<style>
.text-xsx {
  font-size: 0.65rem;
  line-height: 1rem;
}
</style>



