<template >
  <div class="home lg:px-12 md:px-10 sm:px-6 px-3">
    <div
      class="relative overflow-x-auto overflow-y-auto bg-transparent div-table"
    >
      <table
      v-if="filteredRows.length > 0"
        class="w-full text-xs lg:text-sm md:text-xs text-left text-gray-500"
      >
        <thead class="text-xs text-gray-700">
          <tr>
            <th scope="col" class="p-4 whitespace-nowrap">
              <div class="flex items-center">
                <input
                  type="checkbox"
                  v-model="selectAll"
                  class="md:w-5 md:h-5 sm:w-4 sm:h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                />
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Code
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Name
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Gender
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Created date
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Next contact date
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Phone
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Leed type
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-4 py-3 whitespace-nowrap">
              <div class="flex items-center font-thin text-xs">
                Referred by
                <svg
                  class="w-[8px] h-[8px] text-gray-800 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 10"
                >
                  <path
                    d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                  />
                </svg>
              </div>
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(row, i) in filteredRows"
            :key="'item' + row.id"
            class="bg-white rounded-xl hover:bg-gray-50 border-b-8 border-b-gray-50"
          >
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input
                  type="checkbox"
                  v-model="selected"
                  :value="row.id"
                  number
                  class="md:w-5 md:h-5 sm:w-4 sm:h-4 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                />
              </div>
            </td>
            <th scope="row" class="p-4 bold text-black whitespace-nowrap">
              876123
            </th>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full bg-purple-100 flex items-center justify-center mr-4 w-6 h-6"
                >
                  <svg
                    class="w-[10px] h-[10px] text-purple-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 18"
                  >
                    <path
                      d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                    />
                  </svg>
                </div>

                {{ row.name }}
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div
                class="text-red-400 flex items-center justify-center rounded-full h-7 w-20 bg-red-100"
              >
                Female
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                17 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <svg
                  class="w-[12px] h-[12px] text-purple-700 mr-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                  />
                </svg>
                01 Aug, 2023
              </div>
            </td>
            <td class="p-4 whitespace-nowrap">
              <div class="flex items-center bold text-black">
                <div
                  class="rounded-full default-bg flex items-center justify-center mr-1 w-4 h-4"
                >
                  <svg
                    class="w-[10px] h-[10px] text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 20"
                  >
                    <path
                      d="M12 0H2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM7.5 17.5h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2ZM12 13H2V4h10v9Z"
                    />
                  </svg>
                </div>

                {{ row.phone }}
              </div>
            </td>
            <td class="p-4 bold text-black whitespace-nowrap">Supervisor</td>
            <td class="p-4 bold">
              <div
                class="text-indigo-600 rounded-full bg-purple-100 flex items-center justify-center mr-4 w-20 h-8 md:w-28 md:h-12"
              >
                Facebook
              </div>
            </td>
            <td class="p-4 whitespace-nowrap relative">
              <button
                @click="toggleDropdownf(i)"
                class="inline-flex items-center text-center focus:ring-4 focus:outline-none focus:ring-transparent"
                type="button"
              >
                <svg
                  class="w-[12px] h-[12px] text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 4 15"
                >
                  <path
                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                  />
                </svg>
              </button>

              <!-- Dropdown menu -->
              <div
                @mouseleave="row.showDropdownRowf = !row.showDropdownRowf"
                v-if="row.showDropdownRowf"
                class="z-10 absolute right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-36"
              >
                <ul
                  class="p-2 ul-drop"
                  aria-labelledby="dropdownMenuIconHorizontalButton"
                >
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-xs text-green-400 bold rounded-md py-2 px-3 bg-green-50 hover:bg-green-100 mb-1"
                      ><svg
                        class="w-[8px] h-[8px] text-green-400 mr-1"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 18"
                      >
                        <path
                          d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"
                        />
                        <path
                          d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"
                        />
                      </svg>
                      Edit</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-xs text-red-600 bold rounded-md py-2 px-3 bg-red-50 hover:bg-red-100 mb-1"
                    >
                      <svg
                        class="w-[8px] h-[8px] text-red-600 mr-1"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 18 20"
                      >
                        <path
                          d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"
                        />
                      </svg>
                      Delete</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-xs text-purple-600 bold rounded-md py-2 px-3 bg-purple-50 hover:bg-purple-100 mb-1"
                      ><svg
                        class="w-[8px] h-[8px] text-purple-600 mr-1"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 18 20"
                      >
                        <path
                          d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"
                        />
                        <path
                          d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"
                        /></svg
                      >Convert to client</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-xs text-orange-500 bold rounded-md py-2 px-3 bg-orange-50 hover:bg-orange-100 mb-1"
                    >
                      <svg
                        class="w-[8px] h-[8px] text-orange-500 mr-1"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 19 18"
                      >
                        <path
                          d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"
                        />
                      </svg>
                      View contacts</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p v-else class="bold py-10 text-black">
        Sorry, there is no data that matches your search.
      </p>
    </div>
    <div class="bg-white rounded-b-none rounded-t-lg mt-7">
      <nav
        class="block sm:flex sm:items-center sm:justify-between pt-4 pb-2 px-4 border-b"
        aria-label="Table navigation"
      >
        <span class="text-gray-500 text-sm medium">
          <span>1-20</span>
          of
          <span>27</span></span
        >

        <div class="flex items-center justify-center">
          <div class="flex items-center mb-3 sm:mr-7 mr-3">
            <p class="text-gray-500 text-sm medium">Rows per page : 20</p>
            <svg
              class="w-[8px] h-[8px] text-gray-500 ml-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 8"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
              />
            </svg>
          </div>
          <ul class="inline-flex -space-x-px text-sm h-8">
            <li>
              <a
                href="#"
                class="flex items-center justify-center h-5 w-5 mr-2 text-gray-400 bg-gray-100 border border-gray-300 rounded hover:bg-white hover:text-gray-700"
              >
                <span class="sr-only">Previous</span>
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="flex items-center justify-center mr-1 text-xs h-5 text-black bg-transparent hover:text-gray-700"
                >1 /</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center justify-center mr-1 text-xs h-5 text-gray-500 bg-transparent hover:text-gray-700"
                >2</a
              >
            </li>

            <li>
              <a
                href="#"
                class="flex items-center justify-center h-5 w-5 ml-1 text-gray-400 bg-gray-100 border border-gray-300 rounded hover:bg-white hover:text-gray-700"
              >
                <span class="sr-only">Next</span>
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div
        class="block sm:flex sm:items-center sm:justify-between w-full px-4 py-2"
      >
        <p class="bold text-gray-500 text-xs mb-0">Fitexper System</p>
        <p class="bold text-gray-500 text-xs mb-0">
          © 2023 | All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import userImg from "../assets/img/user.png";
import genderImg from "../assets/img/gender.svg";

import referdImg from "../assets/img/referd.svg";
import axios from "axios";

export default {
  components: {},
  data: function () {
    return {
      userImg,
      genderImg,
      referdImg,
      rows: [],
      selected: [],
    };
  },
  props: {
    searchQuery: {
      type: String,
      default: "",
    },
  },
  mounted() {
    this.fetchData();
  },

  methods: {
    toggleDropdownf(i) {
      this.rows[i].showDropdownRowf = !this.rows[i].showDropdownRowf;
    },
    fetchData(query = "") {
      axios
        .get("https://jsonplaceholder.typicode.com/users", {
          params: { query },
        })
        .then((response) => {
          this.rows = response.data;
        })
        .catch((error) => {
          console.error(error);
        })
    
    },
  },

  computed: {
    selectAll: {
      get: function () {
        return this.rows ? this.selected.length == this.rows.length : false;
      },
      set: function (value) {
        var selected = [];

        if (value) {
          this.rows.forEach(function (row) {
            selected.push(row.id);
          });
        }

        this.selected = selected;
      },
    },
    filteredRows() {
      return this.rows.filter((row) =>
        row.name.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },
  },
};
</script>

<style scoped>
.ul-drop {
  font-size: 0.65rem;
}
.div-table {
  height: 62vh;
}
@media (max-width: 1275px) {
  .div-table {
    height: 52.5vh;
  }
}
@media (max-width: 767px) {
  .div-table {
    height: 42.8vh;
  }
}

@media (max-width: 640px) {
  .div-table {
    height: 34.7vh;
  }
}
@media (max-width: 415px) {
  .div-table {
    height: 27.8vh;
  }
}
</style>



