<template>
  <div>
    <!-- Main modal -->
   
    <div
    v-if="!isModal2Visible"
    ref="modalWrapper"
      class="modal-wrapper modal1 fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-auto  overflow-y-hidden  md:inset-0  "
    >
    <div @click="closeModal" class="overlay"></div>
      <div class="modal relative w-full max-w-3xl  m-auto md:top-5 top-0  ">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-base bold text-gray-900 dark:text-white">
              Add New Leed
            </h3>
            <button
            @click="closeModal"
              type="button"
              class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="py-6 md:px-11 px-5 overflow-y-auto h-86">
            <div class="text-left mb-5">
              <h3 class="bold text-black md:text-lg text-base">Main Data</h3>
            </div>

            <form>
              <div class="grid md:grid-cols-2 md:gap-6 text-left">
                <div class="mb-6">
                  <label
                    for="text"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Name*</label
                  >
                  <input
                    type="text"
                    id="text"
                    class="bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                    placeholder="Enter leader name"
                    required
                  />
                </div>
                <div class="mb-6">
                  <label
                    for="gender"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Gender*</label
                  >
                  <select
                    id="gender"
                    class="bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                  >
                    <option selected>Enter gender</option>
                    <option value="US">male</option>
                    <option value="CA">female</option>
                  </select>
                </div>
              </div>
              <div class="grid md:grid-cols-2 md:gap-6 text-left">
                <div class="mb-6">
                  <label
                    for="leed"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Leed type*</label
                  >
                  <select
                    id="leed"
                    class="bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                  >
                    <option selected>Enter leed type*</option>
                    <option value="US">on hold</option>
                    <option value="CA">converted</option>
                    <option value="CA">pending</option>
                  </select>
                </div>
                <div class="mb-6">
                  <label
                    for="countries"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Referred by*</label
                  >
                  <select
                    id="countries"
                    class="bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                  >
                    <option selected>Please choose data*</option>
                    <option value="US">facebook</option>
                    <option value="CA">twitter</option>
                    <option value="CA">linked in</option>
                  </select>
                </div>
              </div>
              <div class="grid md:grid-cols-2 md:gap-6 text-left">
                <div class="mb-6">
                  <label
                    for="visitors"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Phone Number*</label
                  >
                  <input
                    type="text"
                    id="visitors"
                    class="bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                    placeholder="Enter Phone Number"
                    required
                  />
                </div>
                <div class="relative  w-full mb-6">
                  <label
                    for="countries"
                    class="block mb-3 md:text-base text-sm bold text-gray-900"
                    >Last Contact*</label
                  >
                 
                  <div class="relative ">
                    <label
                      for="datepicker3"
                      class="datepicker3 absolute md:text-base text-sm text-gray-500 inset-y-0 md:left-6 left-1 flex items-center z-10"
                      >Select date:</label
                    >
                    <datepicker
                      id="datepicker3"
                      class="bg-gray-50  border-gray-100 md:text-base text-sm rounded-lg  flex  px-5 py-2.5 w-full   md:pl-28 pl-20 focus:border-green-300 focus:ring-transparent focus:ring-2"
                      v-model="selectedDate3"
                    ></datepicker>
                    <div class="absolute inset-y-0 right-5  flex items-center pl-3 pointer-events-none">
                      <svg
                        class="md:w-4  md:h-4 w-3 text-gray-400 "
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-6 text-left">
                <label
                  for="message"
                  class="block mb-3 md:text-base text-sm bold text-gray-900"
                  >Notes</label
                >
                <textarea
                  id="message"
                  rows="4"
                  class="resize-none bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                  placeholder="Add your notes here"
                ></textarea>
              </div>
            </form>

            <!-- Modal toggle -->
            <button
              @click="showModal2"
              class="flex items-center text-yellow-200 bg-black focus:ring-4 focus:ring-transparent  focus:outline-none  rounded-lg md:text-base text-sm px-5 py-1 text-center relative"
              type="button"
            >
              Last Contact Log
              <div>
                <svg
                  class="w-[14px] h-[14px] text-yellow-200 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </div>
            </button>
          </div>
          <!-- Modal footer -->
          <div
            class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
          >
            <button
            @click="cancelModal"
              type="button"
              class="text-black bg-transparent hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black md:text-base text-sm md:px-8 px-4 py-2 focus:z-10"
            >
              Cancle
            </button>
            <button
              type="button"
              class="text-yellow-200 bg-black hover:bg-yellow-200 hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2 border-black rounded-lg md:text-base text-sm md:px-20 px-8 py-2 text-center"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <modalTwo v-if="isModal2Visible" @close="hideModal2"></modalTwo>

  </div>
</template>

<script>

import modalTwo from "./modalTwo.vue";

import Datepicker from "vue3-datepicker";


export default {
  components: {
    modalTwo,
    Datepicker,
  },
  data() {
    return {
      isModal2Visible: false,
      selectedDate3: null,
    };
  },
  
  methods: {
    showModal2() {
      this.isModal2Visible = true;
    },
    hideModal2() {
      this.isModal2Visible = false;
    },  
      cancelModal() {
        this.$emit('close');
    },
    closeModal() {
      // Emit a custom "close" event to communicate with the parent component
      this.$emit('close');
   
    },

  },

};
</script>

<style  scoped>

</style>