<template>
  <div>
    <!-- Main modal -->
    <div

      class="modal-wrapper fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div  @click="closeModal3" class="overlay"></div>
      <div class="modal relative w-full max-w-3xl max-h-full m-auto top-10">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-base bold text-gray-900 dark:text-white">
              Add New Contact
            </h3>
            <button
              @click="closeModal3"
              type="button"
              class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="py-6 md:px-11 px-5">
            <form action="">
              <div class="relative text-left mb-6">
                <label
                  for="countries"
                  class="block mb-3 md:text-base text-sm bold text-gray-900"
                  >Add Date And Time*</label
                >

                <div class="relative">
                  <label
                    for="datepicker4"
                    class="datepicker4 absolute md:text-base text-sm text-gray-500 inset-y-0 md:left-6 left-3 flex items-center z-10"
                    >Select date</label
                  >
                  <datepicker
                    id="datepicker4"
                    class="bg-gray-50 border-gray-100 md:text-base text-sm rounded-lg flex px-5 py-2.5 w-full h-12 md:pl-28 pl-20 focus:border-green-300 focus:ring-transparent focus:ring-2"
                    v-model="selectedDate4"
                  ></datepicker>
                  <div
                    class="absolute inset-y-0 right-5 flex items-center pl-3 pointer-events-none"
                  >
                    <svg
                      class="md:w-4 md:h-4 w-3 text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="mb-6 text-left">
                <label
                  for="message"
                  class="block mb-3 md:text-base text-sm bold text-gray-900"
                  >Notes</label
                >
                <textarea
                  id="message"
                  rows="4"
                  class="resize-none bg-gray-50 border border-gray-100 md:text-base text-sm rounded-lg focus:ring-transparent focus:border-green-300 flex items-center justify-center w-full px-5 py-2.5"
                  placeholder="Add your notes here"
                ></textarea>
              </div>
            </form>
          </div>
          <!-- Modal footer -->
          <div
            class="sm:flex sm:items-center sm:justify-end p-6 ssm:pace-x-2 block border-t border-gray-200 rounded-b dark:border-gray-600"
          >
            <button
              @click="cancelModal3"
              type="button"
              class="flex items-center text-black bg-transparent md:w-48 w-full justify-center hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black md:text-base text-sm sm:mb-0 mb-3 px-14 py-2 focus:z-10 md:mr-5 mr-2"
            >
              Cancle
            </button>
            <button
              @click="closeModal3"
              type="button"
              class="text-yellow-200 bg-black hover:bg-yellow-200 md:w-48 w-full hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2 border-black rounded-lg md:text-base text-sm px-16 py-2 text-center"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from "vue3-datepicker";
export default {
  components: {
    Datepicker,
  },
  data() {
    return {
      selectedDate4: null,
    };
  },
  methods: {
    cancelModal3() {
      this.$emit("close");
    },
    closeModal3() {
      // Emit a custom "close" event to communicate with the parent component
      this.$emit("close");
    },
    
  },
};
</script>

<style  scoped>
</style>