<template>
  <div>
    <!-- Main modal -->
    <div
    v-if="!isModal3Visible"
  
      class="modal-wrapper fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-auto  overflow-y-hidden md:inset-0  "
    >
    <div  @click="closeModal2" class="overlay"></div>
      <div class="modal relative w-full max-w-3xl max-h-full  m-auto md:top-5 top-0 ">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-base bold text-gray-900 dark:text-white">
              Last Contact Log
            </h3>
            <button
            @click="closeModal2"
              type="button"
              class="text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="py-6 md:px-11 px-5 overflow-y-auto over h-86 scroll-smooth md:scroll-auto">
            <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left text-back">
                <thead class="text-xs text-black regular">
                  <tr>
                    <th scope="col" class="py-3 pr-10 whitespace-nowrap">
                      <div class="flex items-center">
                        Last contact
                        <svg
                          class="w-[8px] h-[8px] text-black ms-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 16 10"
                        >
                          <path
                            d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                          />
                        </svg>
                      </div>
                    </th>
                    <th scope="col" class="px-10 py-3 whitespace-nowrap">
                      <div class="flex items-center">
                        Note
                        <svg
                          class="w-[8px] h-[8px] text-black ms-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 16 10"
                        >
                          <path
                            d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                          />
                        </svg>
                      </div>
                    </th>
                    <th scope="col" class="py-3 pl-10 whitespace-nowrap">
                      <div class="flex items-center">
                        Employee
                        <svg
                          class="w-[8px] h-[8px] text-black ms-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 16 10"
                        >
                          <path
                            d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"
                          />
                        </svg>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white">
                    <th
                      scope="row"
                      class="py-5 md:pr-10 pr-5 font-medium text-gray-900 whitespace-nowrap"
                    >
                      <div>
                        <p class="text-gray-600 bold">22 jan 2023</p>
                        <span class="text-gray-600 medium text-xs"
                          >2:30 pm</span
                        >
                      </div>
                    </th>
                    <td class="md:px-10 px-5 py-4 border-l-2">
                      <div>
                        <h4 class="bold text-black md:text-lg text-base mb-1">
                          Note Title Here
                        </h4>
                        <p class="md:text-base text-sm text-gray-600 bold">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Quis similique consequatur tenetur
                        </p>
                      </div>
                    </td>
                    <td class="py-5 md:pl-10 pl-5 bold text-black whitespace-nowrap">
                      Codebase
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <th
                      scope="row"
                      class="py-5 md:pr-10 pr-5 font-medium text-gray-900 whitespace-nowrap"
                    >
                      <div>
                        <p class="text-gray-600 bold">22 jan 2023</p>
                        <span class="text-gray-600 medium text-xs"
                          >2:30 pm</span
                        >
                      </div>
                    </th>
                    <td class="md:px-10 px-5 py-4 border-l-2">
                      <div>
                        <h4 class="bold text-black md:text-lg text-base mb-1">
                          Note Title Here
                        </h4>
                        <p class="md:text-base text-sm text-gray-600 bold">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Quis similique consequatur tenetur
                        </p>
                      </div>
                    </td>
                    <td class="py-5 md:pl-10 pl-5 bold text-black whitespace-nowrap">
                      Codebase
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <th
                      scope="row"
                      class="py-5 md:pr-10 pr-5 font-medium text-gray-900 whitespace-nowrap"
                    >
                      <div>
                        <p class="text-gray-600 bold">22 jan 2023</p>
                        <span class="text-gray-600 medium text-xs"
                          >2:30 pm</span
                        >
                      </div>
                    </th>
                    <td class="md:px-10 px-5 py-4 border-l-2">
                      <div>
                        <h4 class="bold text-black md:text-lg text-base mb-1">
                          Note Title Here
                        </h4>
                        <p class="md:text-base text-sm text-gray-600 bold">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Quis similique consequatur tenetur
                        </p>
                      </div>
                    </td>
                    <td class="py-5 md:pl-10 pl-5 bold text-black whitespace-nowrap">
                      Codebase
                    </td>
                  </tr>
                  <tr class="bg-white">
                    <th
                      scope="row"
                      class="py-5 md:pr-10 pr-5 font-medium text-gray-900 whitespace-nowrap"
                    >
                      <div>
                        <p class="text-gray-600 bold">22 jan 2023</p>
                        <span class="text-gray-600 medium text-xs"
                          >2:30 pm</span
                        >
                      </div>
                    </th>
                    <td class="md:px-10 px-5 py-4 border-l-2">
                      <div>
                        <h4 class="bold text-black md:text-lg text-base mb-1">
                          Note Title Here
                        </h4>
                        <p class="md:text-base text-sm text-gray-600 bold">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Quis similique consequatur tenetur
                        </p>
                      </div>
                    </td>
                    <td class="py-5 md:pl-10 pl-5 bold text-black whitespace-nowrap">
                      Codebase
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="sm:flex sm:items-center sm:justify-end block p-6 sm:space-x-2 border-t border-gray-200 rounded-b "
          >
            <!-- Modal toggle -->
            <button
            @click="showModal3"
              type="button"
              class="flex items-center justify-center sm:mb-0 mb-3 w-full sm:w-60 text-center text-black bg-transparent hover:bg-yellow-200 bold focus:ring-4 focus:outline-none focus:ring-transparent rounded-lg border-2 border-black md:text-base text-sm md:px-8 px-3 py-2 focus:z-10"
            >
              <svg
                class="w-[12px] h-[12px] text-gray-800 mr-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 18 18"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 1v16M1 9h16"
                />
              </svg>
              Add New Contact
            </button>
         

           

            <button
           
            @click="cancelModal2"
              type="button"
              class="text-yellow-200 w-full sm:w-60 bg-black hover:bg-yellow-200 hover:text-black focus:ring-4 focus:outline-none focus:ring-transparent border-2  border-black rounded-lg md:text-base text-sm md:px-20 px-16 py-2 sm:text-center text-center"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
    <modalThree v-if="isModal3Visible" @close="hideModal3"/>
  </div>
</template>

<script>
import modalThree from "./modalThree.vue";
export default {
  components: {
    modalThree
   },
  data() {
    return {
    
      isModal3Visible: false,
    };
  },
  methods: {
    showModal3() {
      this.isModal3Visible = true;
    },
    hideModal3() {
      this.isModal3Visible = false;
    }, 
    cancelModal2() {
      this.$emit('close');
    },
    closeModal2() {
      // Emit a custom "close" event to communicate with the parent component
      this.$emit('close');
      
    },
  },
};
</script>

<style  scoped>
</style>