<template>
  <div>
    <div class="lg:px-12 md:px-10 sm:px-6 px-3 py-8">
      <div class="md:flex md:justify-between w-full block">
        <div class="xl:flex block xl:w-3/5 lg:w-1/2 md:w-5/12">
          <div class="text-left pr-7 xl:w-1/3">
            <h2 class="bold text-black mb-2">All Leeds</h2>
            <p class="p-color">Clients / Leeds / All Leeds</p>
          </div>

          <div class="xl:w-2/3 mb-4 md:mb-0">
            <form>
              <label
                for="default-search"
                class="mb-2 text-sm font-medium sr-only"
                >Search</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                >
                  <svg
                    class="w-6 h-5 text-gray-500"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="3"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>
                <input
              
                  type="text"
                  v-model="searchQuery"
                  id="default-search"
                  class="block w-full px-4 py-3 pl-10 lg:text-lg text-sm color-gray border border-transparent rounded-lg bg-white mt-3 focus:ring-transparent focus:border-transparent"
                  placeholder="Search about Leeds..."
                  @input="handleSearch"
             
                />
              </div>
            </form>
          </div>
        </div>
        <nav
          class="xl:w-2/5 lg:w-1/2 md:w-7/12 flex xl:items-center md:items-end md:justify-end justify-center"
        >
          <div
            class="max-w-screen-xl flex flex-wrap items-center sm:justify-end justify-center"
          >
            <div
              class="items-center justify-between flex mb-3 sm:mb-0"
              id="navbar-cta"
            >
              <ul class="flex">
                <li>
                  <a href="." class="block py-3 px-3 rounded bg-white me-2 hover:bg-teal-100 focus:bg-teal-100 ">
                    <img :src="importList" alt="" />
                  </a>
                </li>

                <li>
                  <a href="." class="block py-3 px-3 rounded bg-white me-2 hover:bg-teal-100 focus:bg-teal-100 ">
                    <img :src="exportList" alt="" />
                  </a>
                </li>

                <li>
                  <button
                    @click="$emit('view', 'table')"
                    to="/listView"
                    class="block py-3 px-3 rounded bg-white me-2 hover:bg-teal-100 focus:bg-teal-100 "
                    aria-current="page"
                  >
                    <img :src="listView" alt="" />
                  </button>
                </li>
                <li>
                  <button
                    @click="$emit('view', 'grid')"
                    to="/gridList"
                    class="block py-3 px-3 bg-white me-2 hover:bg-teal-100 focus:bg-teal-100 "
                  >
                    <img :src="gridList" alt="" />
                  </button>
                </li>
                <li  class="relative">
                  <button
                    @click="toggleList"
                    class="focus:outline-none rounded text-center inline-flex items-center bg-white py-3 px-3 me-3 hover:bg-teal-100 focus:bg-teal-100 "
                    type="button"
                  >
                    <img :src="filterList" alt="" />
                  </button>
                  <!-- Dropdown menu -->
                  <div
                    v-if="showList"
                    class="z-10 absolute right-0 top-12 bg-white rounded-lg shadow w-72 p-3"
                    @mouseleave="showList=!showList"

                  >
                    <div class="flex items-center justify-between w-full mb-1">
                      <h5 class="text-sm bold">Filters</h5>
                      <span class="text-xs text-teal-300">Save View</span>
                    </div>
                    <div>
                      <button
                        @click="toggleFirstList"
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 mb-2 w-full"
                      >
                        <div class="flex items-center">
                          <div
                            class="rounded-full bg-cyan-400 flex items-center justify-center w-3 h-3 mr-2"
                          >
                            <img :src="genderImg" alt="" />
                          </div>
                          <p class="bold text-black text-xs">Gender</p>
                        </div>
                        <svg
                          class="w-[6px] h-[6px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </button>
                      <div v-if="showFirstList">
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox2"
                            class="text-xs text-black"
                            >Male</label
                          >
                          <input
                            id="checked-checkbox2"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox1"
                            class="text-xs text-black"
                            >Female</label
                          >
                          <input
                            checked
                            id="checked-checkbox1"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                      </div>
                    </div>
                    <div>
                      <button
                        @click="toggleSecondList"
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 my-2 w-full"
                      >
                        <div class="flex items-center">
                          <div class="mr-2">
                            <svg
                              class="w-[10px] h-[10px] text-orange-400"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 20 20"
                            >
                              <path
                                d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                              />
                            </svg>
                          </div>
                          <p class="bold text-xs text-bold">Date</p>
                        </div>
                        <svg
                          class="w-[8px] h-[8px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </button>
                      <div v-if="showSecondList">
                        <div class="flex items-center justify-between w-full">
                          <div class="relative mr-4">
                            <label for="datepicker1" class="datepicker1 absolute text-sm text-black inset-y-0 left-1 flex items-center z-10">form:</label>
                            <datepicker
                              id="datepicker1"
                              class="bg-gray-50 border-0 rounded-sm flex w-full h-7 text-xs pl-10  focus:ring-transparent focus:ring-2"
                              v-model="selectedDate1"
                            ></datepicker>
                            <div
                              class="absolute inset-y-0 right-3 flex items-center"
                            >
                              <svg
                                class="w-[8px] h-[8px] text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                                />
                              </svg>
                            </div>
                          </div>

                          <div class="relative">
                            <label for="datepicker2" class="datepicker1 absolute text-sm text-black inset-y-0 left-2 flex items-center z-10">to:</label>
                            <datepicker id="datepicker2" class="bg-gray-50 border-0 rounded-sm flex w-full h-7 pl-8 text-xs focus:ring-transparent focus:ring-2 " v-model="selectedDate2"></datepicker>
                            <div
                              class="absolute inset-y-0 right-3 flex items-center"
                            >
                              <svg
                                class="w-[8px] h-[8px] text-gray-400"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                              >
                                <path
                                  d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z"
                                />
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button
                        @click="toggleThirdList"
                        class="flex items-center justify-between bg-gray-50 rounded px-2 py-1 my-2 w-full"
                      >
                        <div class="flex items-center">
                          <div class="mr-2">
                            <svg
                              class="w-[10px] h-[10px] text-purple-500"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 14 18"
                            >
                              <path
                                d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                              />
                            </svg>
                          </div>
                          <p class="bold text-black text-xs">Leed type</p>
                        </div>
                        <svg
                          class="w-[8px] h-[8px] text-black"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 8"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"
                          />
                        </svg>
                      </button>
                      <div v-if="showThirdList">
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox3"
                            class="text-xs text-black"
                            >Leed type 1</label
                          >
                          <input
                            id="checked-checkbox3"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox4"
                            class="text-xs text-black"
                            >Leed type 1</label
                          >
                          <input
                            id="checked-checkbox4"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                        <div
                          class="flex items-center mb-1 mx-3 justify-between"
                        >
                          <label
                            for="checked-checkbox5"
                            class="text-xs text-black"
                            >Leed type 3</label
                          >
                          <input
                            checked
                            id="checked-checkbox5"
                            type="checkbox"
                            value=""
                            class="w-3 h-3 text-yellow-300 bg-transparent border-gray-400 rounded-sm focus:ring-transparent focus:ring-2"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="flex md:order-2">
              <!-- Modal toggle -->
              <button
              @click="showModal1"
                class="flex items-center justify-between w-32 text-white default-bg focus:ring-transparent focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center relative"
                type="button"
              >
                <div>
                  <svg
                    class="w-[14px] h-[14px] text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.7"
                      d="M9 1v16M1 9h16"
                    />
                  </svg>
                </div>
                Add New
              </button>
              <modalOne  v-if="isModal1Visible" @close="hideModal1"></modalOne>


           
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import listView from "../assets/img/listView.svg";
import gridList from "../assets/img/gridList.svg";
import importList from "../assets/img/import.svg";
import exportList from "../assets/img/export.svg";
import filterList from "../assets/img/filter.svg";
import genderImg from "../assets/img/gender.svg";
import Datepicker from "vue3-datepicker";
import modalOne from './modalOne.vue';



export default {
  components: {
    Datepicker,
    modalOne
  },
  data: function () {
    return {
      listView,
      gridList,
      importList,
      exportList,
      filterList,
      genderImg,
      selectedDate: null,
      showList: false,
      showFirstList: false,
      showSecondList: false,
      showThirdList: false,
      isModal1Visible: false,
      selectedDate1: null,
      selectedDate2: null,
      searchQuery: '',
    };
  },

  methods: {
    toggleList() {
      this.showList = !this.showList;
    },
    toggleFirstList() {
      this.showFirstList = !this.showFirstList;
    },
    toggleSecondList() {
      this.showSecondList = !this.showSecondList;
    },
    toggleThirdList() {
      this.showThirdList = !this.showThirdList;
    },
    showModal1() {
      this.isModal1Visible = true;
    },
    hideModal1() {
      this.isModal1Visible = false;
    },
    handleSearch() {
      this.$emit('search', this.searchQuery);
    },
  },
 
};
</script>

<style scoped>
h2 {
  font-size: 1.3rem;
}
.p-color {
  color: #b3b3bf;
  font-size: 0.9rem;
}
form svg {
  color: #9747ff;
}
form input,
form select {
  height: 50px;
  border-radius: 10px;
  color: #737791 !important;
}
form textarea {
  height: 90px;
  border-radius: 10px;
}

</style>