<template>
  <div id="app">
    <NavbarSection @view="changeView" @search="handleSearch" />

    <list-view v-if="!grid" :search-query="searchQuery" />
    <gridList v-else :search-query="searchQuery" />
  </div>
</template>



<script>
import NavbarSection from "./components/NavbarSection.vue";
import ListView from "./components/ListView.vue";
import gridList from "./components/gridList.vue";

export default {
  data() {
    return {
      grid: false,
      searchQuery: "",
    };
  },
  components: {
    NavbarSection,
    ListView,
    gridList,
  },
  methods: {
    changeView(e) {
      this.grid = e === "grid";
    },
    handleSearch(query) {
      this.searchQuery = query;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.icon {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  word-break: break-word;
  overflow-x: hidden;
  line-height: 1.5;
  min-height: 100vh;
  color: #000;
  animation: 1s 0.1s fadeIn backwards;
}
/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255 255 255);
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff000;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #00d2dc;
  /* display: none; */
}

@font-face {
  font-family: bold;
  src: url(./assets/fonts/Nunito-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: mediam;
  src: url(./assets/fonts//Nunito-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(./assets/fonts/Nunito-Regular.ttf);
  font-display: swap;
}

.bold {
  font-family: "bold";
}
.medium {
  font-family: "mediam";
}
.regular {
  font-family: "regular";
}

#app {
  background-color: #f8f9f9;
}
.default-color {
  color: #00d2dc !important;
}
.default-bg {
  background-color: #00d2dc !important;
}

.color-gray,
::placeholder {
  color: #737791 !important;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  position: relative;
  z-index: 2;
  /* Add your custom modal styles here */
}
.h-86 {
  height: 40rem;
}
</style>


